@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    /*background: #121212;*/
    color:#DCD7C9 ;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: #131515;
    opacity: calc(60%);
    display: flex;
    justify-content: space-between ;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: #DCD7C9;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px ;
    color: #DCD7C9;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active{
    color: #1f7a8c ;
}
video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
  }

.home{
    height: 100vh;
    background-image: url('209690.mp4') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.6);
}

.home-content{
    
    max-width: 600px;
}

.home-content h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #1f7a8c;
}

.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}

.home-content h5{
    font-size: 32px;
    margin-left: 525px;
    text-align: center;
    font-weight: 700;
}

.floating{
    display: inline-block;
    font-weight: bold;
    animation: animate 3s ease-in-out infinite;
}

@keyframes animate{
    0%{
        transform: translateX(0);
        rotate: 2deg;
        
    }
    20%{
        transform: translateX(-20px);
        rotate: -4deg;
        
    }
    50%{
        transform: translateY(-20px);
        rotate: 4deg;
        
    }
    80%{
        transform: translateX(20px);
        rotate: -4deg;
        
    }
    100%{
        transform: translateX(0);
        rotate: 2deg;
        
    }
}

.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}

.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background-color: #1f7a8c ;
    border: 2px solid #1f7a8c;
    border-radius: 8px;
    font-size: 19px;
    color: #dee2e6;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: #dee2e6;
}

.btn-box a:nth-child(2):hover{
    color:#dee2e6 ;
}

.btn-box a:nth-child(2)::before{
    background: #1f7a8c;
}

.btn-box a:hover {
    color: #dee2e6;
}

.btn-box a::before{
    content: '';
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 0;
    background: #121212;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {
    height: 100%;
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #dee2e6;
    border-radius: 50%;
    font-size: 20px;
    color: #dee2e6;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .3s;
}

.home-sci a:hover{
    color:transparent;
}

.home-sci a::before{
    content:  '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-radius: 20px;
    background: #1f7a8c;
    z-index: -1;
    transition: .2s;
}

.home-sci a:hover::before{
    width: 100%;
    height: 100%;
}